

<ul class="item-list">
            {% for item in items %}
                <li class="todo-item">
                {{ item.title }}
                <p>{{ item.text }}</p>
                {% if item.done %}
                	<p style="color: green">Статус: выполенено</p>
                {% else %}
                    <p style="color: red">Статус: не выполенено</p>
                {% endif %}
                
                {% if not item.done %}
                	<span hx-post="{% url 'app:mark_done' item.pk %}"
                  hx-target="#items" style="cursor: pointer">Пометить выполненным</span>
                    <br>
                {% endif %} 
                    
                <span hx-post="{% url 'app:delete' item.pk %}"
                  hx-target="#items" style="cursor: pointer;">Удалить</span>
                </li>


            {% endfor %}

            </ul>
